# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# AI Models
models/**/*.h5
models/**/*.keras
models/**/*.pt
models/**/*.pth
models/**/*.onnx

# Dataset
dataset/processed/
dataset/train/
dataset/validation/
dataset/test/

# Outputs
output/
assets/screenshots/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db
